.contact-form-field {
	outline: none;
	border-bottom: 1px solid var(--black-color);
	min-width: 200px;
	min-height: 22px;
	height: auto;
	transition: height 0.3s ease;
	max-width: calc(100vw - 250px);
}
