#footer-mask {
	position: absolute;
	display: flex;
	width: 100vw;
	height: 200px;
	bottom: 0;
	left: 0;
}

#footer-mask-left,
#footer-mask-right {
	height: 100%;
	width: calc(var(--page-padding) - 1px);
	background-color: var(--secondary-color);
}

#footer-mask-left {
	margin-right: auto;
}

#footer-mask-right {
	margin-left: auto;
}

#footer-mask-center {
	display: flex;
	flex-direction: column;
	width: calc(100% - 2 * var(--page-padding) + 16px);
	height: 100%;
	margin: 0 auto;
}

#footer-mask-center-top {
	height: calc(100% - var(--page-padding));
	background-color: transparent;
	border: 2px solid var(--primary-color);
	border-top: none;
}

#footer-mask-center-bottom {
	width: 100%;
	height: var(--page-padding);
	background-color: var(--secondary-color);
}

.ocean {
	height: 2px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.wave {
	-webkit-mask: url("../images/wave.svg") repeat-x;
	mask: url("../images/wave.svg") repeat-x;
	position: absolute;
	bottom: -55px;
	width: 6400px;
	height: 198px;
	animation: wave 12s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite,
		swell 8s ease -1.25s infinite;
	z-index: -1;
	transform: translate3d(0, 0, 0);
	background-color: var(--primary-color);
	transition: all var(--transition-duration) ease;
}

@keyframes wave {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: -1600px;
	}
}
@keyframes swell {
	0%,
	100% {
		transform: translate3d(0, -40px, 0);
	}
	50% {
		transform: translate3d(0, -10px, 0);
	}
}

@media only screen and (max-height: 800px) {
	.wave {
		bottom: -20vh;
	}
}
