nav {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: auto;
	align-items: start;
	justify-content: center;
	gap: 12px;
}

.nav-item {
	display: flex;
	width: auto;
	background-color: var(--white-color);
	color: var(--black-color);
	border: 2px solid var(--black-color);
	height: 21px;
	padding: 5px 10px;
	font-weight: 600;
	transform: skew(-13deg);
	cursor: pointer;
	backface-visibility: initial !important;
	-webkit-backface-visibility: initial !important;
}

.nav-item > span {
	width: auto;
	transform: skew(13deg);
	white-space: nowrap;
}

.nav-item:hover,
.nav-item-selected {
	background-color: var(--black-color);
	color: var(--white-color);
}
