nav {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 200px;
	align-items: start;
	justify-content: center;
	gap: 6px;
}

nav > button {
	display: flex;
	width: auto;
	background-color: white;
	color: var(--black-color);
	border: 2px solid var(--black-color);
	height: 21px;
	padding: 5px 10px;
	font-weight: 600;
	transform: skew(-15deg);
}

nav > button > span {
	width: auto;
	transform: skew(15deg);
	white-space: nowrap;
}
