#projects-list > div {
	cursor: pointer;
}

#selected-project-thumbnail {
	display: flex;
	border: 1px solid var(--black-color);
	margin: 0 auto;
	height: 300px;
}

#selected-project-thumbnail a {
	display: flex;
	height: 100%;
	width: auto;
}

#selected-project-thumbnail a > img {
	height: 100%;
	width: 100%;
}

@media only screen and (max-width: 850px) {
	#selected-project-thumbnail {
		position: absolute;
		top: calc(2 * var(--page-padding));
	}

	#projects-list > div {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}
