#projects-list > div {
	cursor: pointer;
}

#selected-project-thumbnail {
	display: flex;
	border: 1px solid var(--black-color);
	margin: 0 auto;
	height: 300px;
	animation: fadeIn 1s;
}

#selected-project-thumbnail a {
	display: flex;
	height: 100%;
	width: auto;
}

#selected-project-thumbnail a > img {
	height: 100%;
	width: 100%;
}
