section {
	display: flex;
	flex-direction: row-reverse;
	height: 100%;
	width: calc(100% - 220px);
	align-items: center;
	justify-content: space-between;
	animation: fadeIn 1s;
}

.section-item {
	display: flex;
	flex-direction: column;
}

.section-item-title {
	font-weight: bold;
	font-size: 24px;
	line-height: 1;
	margin-bottom: 5px;
	transition: all var(--transition-duration) ease;
}

.section-item-description {
	font-weight: normal;
	font-size: 16px;
	transition: all var(--transition-duration) ease;
}

.section-main-content {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: auto;
	align-items: flex-end;
	justify-content: center;
	text-align: right;
	gap: 24px;
}
