section {
	display: flex;
	flex-direction: row-reverse;
	height: 100%;
	width: calc(100% - 220px);
	align-items: center;
	justify-content: space-between;
}

/* .section-item {
	border: 1px solid red;
} */

.section-item-title {
	font-weight: bold;
	font-size: 24px;
}

.section-main-content {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: auto;
	align-items: end;
	justify-content: center;
	text-align: right;
	gap: 10px;
}
