@font-face {
	font-family: "Mabry";
	src: url("fonts/Mabry/MabryPro-Regular.woff") format("woff");
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: "Mabry";
	src: url("fonts/Mabry/MabryPro-Medium.woff") format("woff");
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: "Mabry";
	src: url("fonts/Mabry/MabryPro-Bold.woff") format("woff");
	font-weight: bold;
	font-display: swap;
}

@font-face {
	font-family: "Mabry";
	src: url("fonts/Mabry/MabryPro-Black.woff") format("woff");
	font-weight: 900;
	font-display: swap;
}
