@font-face {
	font-family: "Mabry";
	src: url("fonts/Mabry/MabryPro-Regular.woff") format("woff");
	font-weight: normal;
}

@font-face {
	font-family: "Mabry";
	src: url("fonts/Mabry/MabryPro-Medium.woff") format("woff");
	font-weight: 300;
}

@font-face {
	font-family: "Mabry";
	src: url("fonts/Mabry/MabryPro-Bold.woff") format("woff");
	font-weight: bold;
}

@font-face {
	font-family: "Mabry";
	src: url("fonts/Mabry/MabryPro-Black.woff") format("woff");
	font-weight: 900;
}
/* TODO: remove other Mabry fronts that I don't need */

:root {
	--black-color: black;
	--page-padding: 24px;
	--page-border-width: 2px;
}

body {
	margin: 0;
	font-family: "Mabry", sans-serif;
	display: flex;
	width: calc(100vw - 2 * var(--page-padding));
	height: calc(100vh - 2 * var(--page-padding));
	border: var(--page-border-width) solid var(--black-color);
	margin: calc(var(--page-padding) - var(--page-border-width)) auto 0;
}

a,
button,
input,
textarea {
	all: unset;
}

#root {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: calc(100% - var(--page-padding));
	padding: var(--page-padding);
}

main {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: space-between;
}
