@font-face {
	font-family: "Mabry";
	src: url("fonts/Mabry/MabryPro-Regular.woff") format("woff");
	font-weight: normal;
}

@font-face {
	font-family: "Mabry";
	src: url("fonts/Mabry/MabryPro-Bold.woff") format("woff");
	font-weight: bold;
}

@font-face {
	font-family: "Mabry";
	src: url("fonts/Mabry/MabryPro-Black.woff") format("woff");
	font-weight: 900;
}

/* TODO: remove other Mabry fronts that I don't need */

body {
	margin: 0;
	font-family: "Mabry", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
